* {
    margin: 0;
    padding: 0;
}

body {
    background: #212a5e;
    color: #fff;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
}

#container {
    margin: 32px auto;
    max-width: 960px;
}

#container h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 32px;
}

.metric {
    background: #283371;
    border: #354497 1px solid;
    border-radius: 4px;
    display: inline-block;
    padding: 16px;
    margin-bottom: 32px;
}

.metric h2 {
    text-align: center;
}

.right {
    float: right;
}

.bottom {
    margin-bottom: 0;
}

.axis line, .axis path {
    stroke: #fff;
}

.axis text, .label {
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    fill: #fff;
}

.area.outer {
    stroke: #1c244a;
    fill: #232d5c;
}

.area.inner {
    stroke: #232d5c;
    fill: #2a366f;
}

.median-line {
    fill: none;
    stroke: #384794;
    stroke-width: 2;
}
